<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251368908-8eom0skpfa5g8hud59ae9inj2tpj0du1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251368908-8eom0skpfa5g8hud59ae9inj2tpj0du1</string>
	<key>API_KEY</key>
	<string>AIzaSyB6BPrfftsq3vIT0TbHhQ6ORWL550OBUGo</string>
	<key>GCM_SENDER_ID</key>
	<string>251368908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tullahnazari.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-bbfb4</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-bbfb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251368908:ios:20024a057c074b45b43969</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-bbfb4.firebaseio.com</string>
</dict>
</plist>